{% extends "heartext/layout.html" %}

{% block body %}

<div class="container">
  <div class="row">
    Enter URL to grab text
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="input-url-btn" class="btn btn-default" type="button">Go!</button>
        </span>
        <input id="input-url" type="text" class="form-control" placeholder="URL for text">

      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <br>

  Or choose a PDF file to upload
  <form id="upload-form" enctype="multipart/form-data">
    <input id="upload-file-name" name="file" type="file" />
    <input id="upload-button" type="button" value="Upload" />
  </form>
  <br>

  <div class="row">
    Choose a title for this snippet:
    <textarea id="snippet-title-input" class="form-control" rows="1"></textarea>
    <br>
    Text goes here to convert to MP3, or use URL above
    <textarea id="text-input" class="form-control" rows="3"></textarea>

    <br>
    Speed up factor
    <select id="speed-select" class="form-control">
      <option selected="selected">1</option>
      <option>1.15</option>
      <option>1.25</option>
    </select>

    <br>
    Select Voice <a href="{% url 'voice-test' %}" target="_blank">(test options here)</a>
    <select id="voice-select" class="form-control">
      {% for voice in voices %}
      <option data-voice="{{voice.0}}">{{voice.1}}</option>
      {% endfor %}
    </select>
    <br>
    <button id="submit-text" class="btn btn-default" role="button">Convert to MP3</button>
    <span id="snippet-link"></span>
    <!-- <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
        <span class="sr-only"></span>
      </div>
    </div> -->
  </div>

</div>


{% endblock %}
