{% extends "heartext/layout.html" %}

{% block body %}

<div class="container">
  <h2>Hello!</h2>
  <div class="row">
    Enter URL to grab text
    <div class="col-lg-6">
      <div class="input-group">
        <span class="input-group-btn">
          <button id="input-url-btn" class="btn btn-default" type="button">Go!</button>
        </span>
        <input id="input-url" type="text" class="form-control" placeholder="URL for text">

      </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
  </div><!-- /.row -->
  <br>

  Or choose a PDF file to upload
  <form id="upload-form" enctype="multipart/form-data">
    <input id="upload-file-name" name="file" type="file" />
    <input id="upload-button" type="button" value="Upload" />
  </form>
  <br>

  <div class="row">
    Text goes here to convert to MP3, or use URL above
    <textarea id="text-input" class="form-control" rows="3"></textarea>

    Speed up factor
    <select id="speed-up-factor" class="form-control">
      <option>1</option>
      <option>1.15</option>
      <option>1.25</option>
      <option>1.5</option>
    </select>
    <br>
    <button id="submit-text" class="btn btn-default" role="button">Convert to MP3</button>
  </div>

</div>


{% endblock %}
