<!doctype html>
{% load staticfiles %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>HearText</title>
  <link rel="shortcut icon" href="{% static 'heartext/images/favicon.ico' %}" />
  <link href="https://fonts.googleapis.com/css?family=Amiko" rel="stylesheet">
  <link rel="stylesheet" type="test/css" href="{% static 'heartext/css/font-awesome.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'heartext/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'heartext/css/style.css' %}"/>

</head>
<body>
  {% include "heartext/header.html" %}
  {% block body %}

  {% endblock %}
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="{% static 'heartext/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'heartext/js/main.js' %}"></script>
  <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

</body>
