{% extends "heartext/layout.html" %}

{% block body %}

<div class="container">

  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
      <h1>{{object.title}}
        <span><a href="{% url 'playlist-update' pk=object.id %}"><button type="button" class="btn btn-warning">Edit</button>
            </a></span>
        <span><a href="{% url 'playlist-delete' pk=object.id %}"><button type="button" class="btn btn-danger">Delete</button>
            </a></span>
      </h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="playlist-info col-md-7 col-md-offset-1">
      <p>Created by {{object.created_by}}</p>

      <h4>Description:</h4>
      <p>{{object.description | linebreaks }}<p>
      <!-- <div class="tag thumbs">
        {% for t in object.tags.all %}
          <div class="col-md-2">
              <a href="{% url 'tag-detail' t.id %}"><button class="btn btn-md btn-default" style="background-color:{{t.color}}; border:none">{{ t.name }}</button></a>
          </div>
        {% endfor %}
      </div> -->
    </div>

  <button id="playlist-download-btn" class="btn btn-default" role="button">Download all playlist in zip</button>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>Snippets:</h4>
    </div>
  </div>
  <div class="snippets row">
    <div class="col-md-10 col-md-offset-1">
      {% for snippet in object.snippets.all %}
        <div class="col-sm-4 col-md-3">
          <div class="snippet">
            <a href="{% url 'snippet-detail' snippet.uuid %}"><p>{{ snippet }}</p></a>
            <p>Read by: {{snippet.get_voice_display }}<p>
            <p>Preview:
              <audio controls>
                <source src="{{snippet.s3_url}}" type="audio/mpeg">
              Your browser does not support the audio element.
              </audio>
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

</div>

{% endblock %}
