{% extends "heartext/layout.html" %}

{% block body %}

<div class="container">
  <h2>Welcome back, {{ request.user.username }}!</h2>
  Here are your saved Snippets:
  {% for snippet in snippets %}
  <div class="row">
    {% if snippet.title %}
    <div class="col-lg-4">Title: {{snippet.title}}</div>
    {% endif %}
    {% if snippet.source_url %}
    <div class="col-lg-4">
      URL: <a href="{{snippet.source_url}}">{{snippet.source_url}}</a>
      </div>
    {% endif %}
    <div class="col-lg-4">Created_at: {{snippet.created_at}} UTC</div>
    <a href="{% url 'snippet-detail' snippet.uuid %}"><div class="col-lg-4">Click to see snippet detail</div></a>
    <div class="col-lg-4">Preview:
      <audio controls>
        <source src="{{snippet.s3_url}}" type="audio/mpeg">
      Your browser does not support the audio element.
      </audio>
    </div>
    <div class="col-lg-4"><a href="{{snippet.s3_url}}">Download from S3 link</a></div>
    <br>
    <!-- <div class="col-lg-4">Text: {{snippet.text}}</div> -->
  </div><!-- /.row -->
  <br>
  {% endfor %}



</div>


{% endblock %}
