{% extends "heartext/layout.html" %}

{% block body %}

<form action="" method="post">{% csrf_token %}
  <div class="fieldWrapper">
    {{ form.title.errors }}
    {{ form.title.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.title }}
  </div>
  <div class="fieldWrapper">
    {{ form.source_url.errors }}
    {{ form.source_url.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.source_url }}
  </div>
  <div class="fieldWrapper">
    {{ form.text.errors }}
    {{ form.text.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.text }}
  </div>

  <div class="fieldWrapper">
    {{ form.voice.errors }}
    {{ form.voice.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.voice }}
  </div>

<!--
  <div class="fieldWrapper">
    {{ form.tags.errors }}
    {{ form.tags.label_tag }}
    {% if field.help_text %}
      <p class="help">{{ field.help_text|safe }}</p>
    {% endif %}
    {{ form.tags }}
  </div>
   -->
  <br><br>
  <!-- End select2 multiple fields -->
  <input type="submit" value="Submit" />

</form>

{% endblock %}

